<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto font-weight-normal">MFALL LIMITED</h5>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="#">Careers</a>
		{# <a class="p-2 text-dark" href="#">Enterprises</a>
						<a class="p-2 text-dark" href="#">Support</a>
						<a class="p-2 text-dark" href="#">Pricing</a> #}
	</nav>
	<a class="btn btn-outline-info mr-1" href="#">Registration</a>
	<a class="btn btn-outline-primary mr-1" href="#">Sign in</a>
	<a class="btn btn-warning" href="#">Sign out</a>
</div>
